$hover-height: 42px;

.skrw-session {
  position: fixed;
  z-index: 999;
  top: 0;
  right: -375px;
  width: 375px + $hover-height;
  height: 100%;
  padding-left: $hover-height;
  background: none;
  transition: transform .15s;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @include respond-to(mobile) {
    top: 100vh;
    right: 0;
    width: 100%;
    height: 100vh;
    padding-left: 0;
    padding-top: $hover-height;
    @include prefix((transform: translate(0, -$hover-height)));
  }

  &--expanded {
    @include prefix((transform: translate(-375px, 0)));

    @include respond-to(mobile) {
      @include prefix((transform: translate(0, -100%)));
    }
  }

  &--pinned {
    @extend .skrw-session--expanded;
  }

  &__inner {
    width: 100%;
    min-height: 100%;
    background: white;
    padding: $unit (2 * $unit) (1.5 * $unit) (2 * $unit);
    overflow-x: hidden;
    overflow-y: auto;
  }

  & &__handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 1 * $hover-height;
    height: 1 * $hover-height;

    @include respond-to(mobile) {
      left: auto;
      right: 0;
    }

    &:before {
      content: "(•)";
      display: inline-block;
      text-align: center;
      font-size: .5 * $hover-height;
      padding: (.25 * $hover-height) (.15 * $hover-height);
      color: red;
      cursor: pointer;
    }

    &:hover:before {
      content: "(<)";

      @include respond-to(mobile) {
        content: "(^)"
      }
    }
  }

  &--pinned .skrw-session__handle:before {
    content: "(•)";
  }

  &--pinned .skrw-session__handle:hover:before {
    content: "(>)";

    @include respond-to(mobile) {
      content: "(v)"
    }
  }
}

.skrw-flash {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: $unit;
  pointer-events: none;
  @include type(1.25);

  > * {

    &.alert, &.error { color: red; }
    &.notice, &.success { color: green; }

    &:before {
      content: "! ";
    }
  }
}
