.skrw-session {
  @extend .skrw;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 80vh;
  padding: $unit;
  border-top: 1px solid $font-color;
  background: $control-color;

  &--min {
    @include prefix((transform: translateY(100%)));
    .skrw-session__btn:before { content: "(•)" }
  }

  &__btn {
    position: absolute;
    top: -1.5 * $line-height;
    right: .25 * $line-height;
    height: 1 * $line-height;
    background: $control-color;
    cursor: pointer;

    &:hover { color: $link-hover-color; }
  }

  &__btn:before { content: "(X)"; }

  &__user {
    overflow: hidden;
    text-overflow: ellipsis;

    @include respond-to(mobile) {
      margin-bottom: .5 * $line-height;
    }
  }
}

.skrw-flashes {
  @extend .skrw;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: $unit 100px $unit $unit;
  @include prefix((transform: translateY(-100%)));

  > *:before { content: "! "; }
  > .success { color: green; }
  > .error { color: $error-color; }
}
