$hover-height: 42px;

.skrw-session {
  position: fixed;
  z-index: 999;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 80vh;
  background: yellow;
  transition: transform .15s;

  &--expanded {
    @include prefix((transform: translateY(-100%)));
  }

  &--pinned {
    @extend .skrw-session--expanded;
  }

  &:hover {
    @extend .skrw-session--expanded;
  }

  &__inner {
    background: lightgrey;
    padding: $unit (2 * $unit) (1.5 * $unit) (2 * $unit);
    overflow-x: hidden;
    overflow-y: auto;
  }

  // &__controls {
  //   a {
  //     display: block;
  //   }
  // }

  & &__handle {
    position: absolute;
    top: -$hover-height;
    left: 0;
    width: 2 * $hover-height;
    height: $hover-height;

    &:before {
      content: "(^)";
      display: block;
      text-align: center;
      font-size: 20px;
      color: red;
      cursor: pointer;
    }
  }

  &--pinned .skrw-session__handle:before {
    content: "(•)"
  }
}

.skrw-flash {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  width: 100%;
  // padding: $unit;
  @include prefix((transform: translateY(-100%)));

  > * {
    text-align: right;

    &.alert, &.error { color: red; }
    &.notice, &.success { color: green; }

    &:before {
      content: "! ";
    }
  }
}
