.skrw-controls {
  @include bracket("(", ")");

  > * {
    @extend .skrw-control;
  }
}

.skrw-control {
  font-size: $font-size;
  line-height: $line-height;
  color: $link-color;
  text-decoration: none;
  display: inline-block;
  border: 1px solid $font-color;
  padding: .05em .2em;

  &:visited { color: $link-color; }

  &:hover {
    cursor: pointer;
    color: $link-hover-color;
  }
}
