$input-padding: .15em;

.skrw form {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  margin-bottom: .5 * $line-height;

  label, input, textarea, select {
    display: block;
    width: 100%;
  }

  label {
    margin-top: .5 * $line-height;
    margin-bottom: .15 * $line-height;

    &:first-of-type {
      margin-top: 0;
    }
  }

  input:not([type="submit"]), textarea, select {
    @extend .skrw-form__input;
    margin-bottom: .5 * $line-height;
  }

  textarea {
    min-height: (2 * $line-height) + (2 * $input-padding);
    resize: vertical;
  }

  input[type="checkbox"] {
    @include prefix((appearance: none), webkit moz o);
    display: block;
    position: relative;
    width: $line-height;
    height: $line-height;
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;

    &:hover, &:checked {
      background: yellow;
    }

    &:checked:before {
      content: "\2713";
      position: absolute;
      top: -.2em;
      left: 0;
      font-size: 1.7em;
      line-height: 1em;
    }
  }

  label input[type="checkbox"] {
    display: inline-block;
    margin-right: .5em;
    vertical-align: middle;
  }

  select {
    cursor: pointer;
  }

  input[type="submit"] {
    @include prefix((appearance: none), webkit moz o);
    display: inline-block;
    background: none;
    width: auto;
    @extend .skrw-control;
  }

  input[data-controller*="skrw-tags"] {
    display: none;
  }
}

.skrw-form__input {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  background: white;
  border: 1px solid black;
  padding: $input-padding;
}

// tagify
.skrw {

  &.tagify,
  &.tagify__dropdown__item {
    @extend .skrw-form__input;
  }

  .tagify {
    align-items: first baseline;
  }

  .tagify__tag {
    margin: (.1 * $unit) $unit;

    > div:before,
    &:hover:not([readonly]) > div:before {
      box-shadow: none;
      border: 1px solid black;
    }
  }
}
