$input-padding: .15em;

.skrw form {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  margin-bottom: .5 * $line-height;

  .skrw-field {
    margin-bottom: .5 * $line-height;

    &--erroneous {
      label {
        @extend .skrw-text--error;
      }

      input:not([type="submit"]), textarea, select {
        border-color: $error-color;
      }
    }
  }

  label, input, textarea, select {
    display: block;
    width: 100%;
  }

  label {
    margin-bottom: .15 * $line-height;

    &.skrw-label--erroneous {
      @extend .skrw-text--error;
    }
  }

  input:not([type="submit"]), textarea, select {
    @extend .skrw-form-input;
  }

  textarea {
    min-height: (2 * $line-height) + (2 * $input-padding);
    resize: vertical;
  }

  input[type="checkbox"] {
    @include prefix((appearance: none), webkit moz o);
    display: block;
    position: relative;
    width: $line-height;
    height: $line-height;
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;

    &:hover, &:checked {
      background: yellow;
    }

    &:checked:before {
      content: "\2713";
      position: absolute;
      top: -.2em;
      left: 0;
      font-size: 1.7em;
      line-height: 1em;
    }
  }

  label input[type="checkbox"] {
    display: inline-block;
    margin-right: .5em;
    vertical-align: middle;
  }

  select {
    cursor: pointer;
  }

  input[type="submit"] {
    @extend .skrw-control;
    @include prefix((appearance: none), webkit moz o);
    display: inline-block;
    background: none;
    width: auto;
  }
}

.skrw-form-input {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  background: white;
  border: 1px solid black;
  padding: $input-padding;
}

// tagify

.skrw {

  input[data-controller*="skrw-tags"] {
    display: none;
  }

  &.tagify,
  &.tagify__dropdown__item {
    @extend .skrw-form-input;
  }

  .tagify {
    align-items: first baseline;
  }

  .tagify__tag {
    margin: (.1 * $unit) $unit;

    > div:before,
    &:hover:not([readonly]) > div:before {
      box-shadow: none;
      border: 1px solid black;
    }
  }
}

// form instructions

.skrw .instructions {
  font-size: 16px;
  line-height: $line-height;
  margin-bottom: .5 * $line-height;

  &--markdown {

    &:before {
      content: "(+)"
    }

    pre {
      display: none;
      background: white;
      padding: $unit;
      white-space: pre-wrap;
    }

    &--expanded {
      &:before { content: "(-)" }
      pre { display: block; }
    }
  }
}
