$grid-column-count: 12;

.skrw-grid {
  display: grid;
  grid-template-columns: repeat($grid-column-count, 1fr);
  grid-column-gap: $gutter;

  &--inline { display: inline-grid; }

  &--justify-stretch { justify-items: stretch; }
  &--justify-start { justify-items: start; }
  &--justify-center { justify-items: center; }
  &--justify-end { justify-items: end; }

  &--align-start { align-items: start; }
  &--align-center { align-items: center; }
  &--align-end { align-items: end; }
  &--align-stretch { align-items: stretch; }
}

.skrw-col {

  &--justify-stretch { justify-self: stretch; }
  &--justify-start { justify-self: start; }
  &--justify-center { justify-self: center; }
  &--justify-end { justify-self: end; }
}

// set base column classes
@for $i from 1 through $grid-column-count {
  .skrw-col--#{$i} { grid-column-end: span $i; }
}

// set responsive column classes
@for $i from 1 through $grid-column-count {

  @include respond-to(mobile) {
    .skrw-col--xs-#{$i} { grid-column-end: span $i; }
  }

  @include respond-to(small) {
    .skrw-col--s-#{$i} { grid-column-end: span $i; }
  }

  @include respond-to(medium) {
    .skrw-col--m-#{$i} { grid-column-end: span $i; }
  }

  @include respond-to(large) {
    .skrw-col--l-#{$i} { grid-column-end: span $i; }
  }
}
