.skrw-list {
  list-style-type: none;
  padding: 0;

  li {
    position: relative;
    padding-left: $line-height;
    margin-bottom: $line-height;
    @include clearfix;

    &:before {
      content: "*";
      position: absolute;
      top: 0;
      left: 0;
    }

    img, video {
      float: left;
      margin-right: $unit;
    }
  }

  &--grid {
    @extend .skrw-grid;

    li {
      @extend .skrw-grid__col--m-6;
      @extend .skrw-grid__col--l-4;
      @extend .skrw-grid__col--12;
    }
  }
}

*[data-controller="skrw-sortable"] {

  & > * {
    cursor: move;
  }
}
