@mixin respond-to($media) {

  @if $media == mobile {
    @media only screen and (max-width: $break-small) { @content; }
  }

  @else if $media == small {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium) { @content; }
  }

  @else if $media == medium {
    @media only screen and (min-width: $break-medium + 1) and (max-width: $break-large) { @content; }
  }

  @else if $media == large {
    @media only screen and (min-width: $break-large + 1) { @content; }
  }
}

// mixin to prefix (multiple) properties
// Syntax   @include prefix((
//            column-count: 3,
//            column-gap: 1em
//          ), moz webkit);

@mixin prefix($declarations, $prefixes: (moz webkit)) {
  @each $property, $value in $declarations {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }

    #{$property}: $value;
  }
}

// mixin for type setting
@mixin type-setting($factor, $line-height-factor: 1) {
  font-size: $factor * $font-size;
  line-height: $line-height-factor * $line-height;
}

// clearfix placeholder
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin bracket($before: false, $after: false) {

  @if $before != false {
    &:before {
      content: $before;
    }
  }

  @if $after != false {
    &:after {
      content: $after;
    }
  }
}
