// sizes
$unit: .3rem;
$gutter: 10 * $unit;

// font
$font-family: Arial;
$font-size: 18px;
$line-height: 1.2em;

// colors
$font-color: black;
$link-color: blue;
$link-hover-color: $font-color;
$control-color: blue;
$control-hover-color: black;
$error-color: red;

// breakpoints
$break-small: 640px;
$break-medium: 1000px;
$break-large: 1440px;
