.skrw {
  box-sizing: border-box;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

.skrw-page {
  min-height: 100vh;
  padding: $unit (3 * $unit);
  background: lightgrey;
}

.skrw-stretch {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
