.skrw {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $font-color;

  * {
    text-transform: initial;
    font-style: initial;
    font-weight: initial;
  }

  h1, h2, h3 {
    font-weight: normal;
    margin: 0;
  }

  h1 {
    @include type-setting(1.6);
    margin-bottom: .75 * $line-height;

    &:before {
      content: "** ";
    }
  }

  h2 {
    @include type-setting(1);
    text-align: center;
    text-transform: uppercase;
    margin: $line-height 0;
  }

  h3 {
    @include type-setting(1);
    text-transform: uppercase;
  }

  p {
    margin: 0;
    margin-bottom: $line-height;
  }

  em {
    font-style: italic;
  }

  strong, .strong {
    font-weight: bold;
  }

  small {
    @include type-setting(.8);
  }

  hr {
    color: $font-color;
    border: none;
    border-bottom: 1px solid $font-color;
    margin: $line-height 0;
  }

  a, .skrw-link {
    color: $link-color;
    text-decoration: none;
    cursor: pointer;

    &:visited {
      color: $link-color;
      text-decoration: none;
    }

    &:hover {
      color: $font-color;
      text-decoration: none;
    }
  }

  // pre {
  //
  // }
}

.skrw-align {
  &--left   { text-align: left; };
  &--center { text-align: center; };
  &--right  { text-align: right; };
}

.skrw-errors {
  @extend .skrw-text--error;

  > *:before {
    content: "- ";
  }
}

.skrw-text--error {
  color: red;
}
